body {
  font-family: 'DM Serif Display', serif;
  color: #474A45;
}

h1 {
  font-weight: bold;
  color: #474A45;
  background-color: #f1f3d6;
  font-family: 'DM Serif Display', serif;
}

h2 { 
  font-size: 15px;
  color: #474A45;
  background-color: #f1f3d6;
  font-family: 'Nunito', sans-serif;
}

.container {
  border: 2px solid black;
  border-radius: 40px;
  text-align: center;
  width: 414px;
  height: 896px;
  background-color: #f1f3d6 ;
  color: #474A45;
  font-family: 'DM Serif Display', serif;
}

#floatingInput {
  border-radius: 20px 20px 0px 0px;
  border: 2px solid #474A45;
  padding: 20px;
  height: 70px;
  font-family: 'Nunito', sans-serif;
  background-color: #f1f3d6;
  margin-top: 50px;
  margin-bottom: -20px;
}

#floatingPassword {
  border-radius: 0px 0px 20px 20px;
  border: 2px solid #474A45;
  padding: 20px;
  height: 70px;
  background-color: #f1f3d6;
  font-family: 'Nunito', sans-serif;
}

.btn{
  width: 300px;
  height: 50px;
  background-color: #f1f3d6;
  border-radius: 20px;
  border: 2px solid #474A45;
  color: #474A45;
  font-family: 'Nunito', sans-serif;
}

a{
  color: #474A45;
  font-weight: bold;
  justify-content: space-around;
  font-family: 'Nunito', sans-serif;
}

.form-control {
  justify-content: center;
  margin: auto;
  font-family: 'Nunito', sans-serif;
}

.header{
  width: fit-content;
  margin: auto;
}

.underline{
  background-color: #CEA8F2;
  margin-top: -25px;
  height: 20px;
}

.options{
  margin-top: 10px;
}

#uPass{
  width: 300px;
  margin: auto;
  margin-bottom: 50px;
}

#signup{
  float: right;
}

#password{
  float: left;
}

#logo{
  width: 60px;
  position: relative;
  top: 400px;
}

#status{
  position: relative;
  right: 15px;
}