body {
  font-family: 'DM Serif Display', serif;
}

h1 {
  font-weight: bold;
  color: #474A45;
  background-color: #f1f3d6;
  font-family: 'DM Serif Display', serif;
}

h2 {
  font-size: 15px;
  color: #474A45;
  background-color: #f1f3d6;
  font-family: 'Nunito', sans-serif;
}

h3 {
  font-weight: bold;
  font-size: 15px;
  color: #474A45;
  background-color: #f1f3d6;
  font-family: 'Nunito', sans-serif;}

.container {
  border: 2px solid black;
  border-radius: 40px;
  text-align: center;
  padding: 100px 0;
  width: 414px;
  height: 896px;
  background-color: #f1f3d6 ;
  color: #474A45;
  font-family: 'DM Serif Display', serif;
}

#rcorners2 {
  border-radius: 20px;
  border: 2px solid #474A45;
  padding: 20px;
  width: 300px;
  height: 50px;
}

/*
#floatingInput {
  border-radius: 20px;
  border: 2px solid #474A45;
  padding: 20px;
  width: 300px;
  height: 50px;
  font-family: 'Nunito', sans-serif;
  background-color: #f1f3d6;
}

#floatingPassword {
  border-radius: 20px;
  border: 2px solid #474A45;
  padding: 20px;
  width: 300px;
  height: 50px;
  background-color: #f1f3d6;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}
*/

.form{
  margin: 20px;
}

.btn{
  width: 300px;
  height: 50px;
  background-color: #f1f3d6;
  border-radius: 20px;
  border: 2px solid #474A45;
  color: #474A45;
  font-family: 'Nunito', sans-serif;
}

a {
  color: #474A45;
  justify-content: space-around;
  font-family: 'Nunito', sans-serif;

}

.form-floating {
  text-align: center;
}

.form-control {
  justify-content: center;
  margin: auto;
  background-color: #f1f3d6 ;
  border: solid #474A45;
  border-width: 2px 2px 0px 2px;
  border-radius: 0px;
  color: #474A45;
  font-family: 'Nunito', sans-serif;
}

.placehodler { 
  justify-content: center;
  margin: auto;
}

.login{
  margin: 40px;
}

#logo{
  height: 60px;
  position: relative;
  top: 5%;
}

.headBox{
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}

.underline{
  background-color: #CEA8F2;
  margin-top: -25px;
  height: 20px;
}

.underlineB{
  background-color: #CEA8F2;
  margin-top: -15px;
  height: 10px;
}

.colRight{
  padding-right: 0px;
}

.colLeft{
  padding-left: 0px;
}

.formRight{
  border-left: 1px solid #474A45;
}

.formLeft{
  border-right: 1px solid #474A45;
}

.formTopleft{
  border-top-left-radius: 20px;
}

.formTopright{
  border-top-right-radius: 20px;
}

.formBot{
  border-bottom: 2px solid #474A45;
  border-radius: 0px 0px 20px 20px;
}